@import  'variables';

header {
  height:100px;
  background: $main-color;
  margin-bottom:25px;
  margin-top:30px;


  .header-container {
    position:relative;

    .logo {
      position:absolute;
      top:30px;
      height:40px;
      line-height:40px;
      width:100px;
      background:white;
      color: #0066CC;
      text-align:center;
    }
  }

}
