@import  'variables';

header {
  height:100px;
  background: $main-color;
  margin-bottom:25px;
  position:relative;

  .logo {
    position:absolute;
    left:25px;
    top:30px;
    height:40px;
    line-height:40px;
    width:100px;
    background:white;
    color: #0066CC;
    text-align:center;
  }
}
