nav {
  position:absolute;
  right:0;
  top:30px;
  height:40px;
  line-height:40px;

  ul {
    li {
      display:inline-block;
      margin-left:25px;


      a {
        color:white;

        &:hover {
          color:black;
        }
      }
    }
  }
}
